.main {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 30%;
  margin: 100px;
}

h1 {
  font-style: italic;
  color: #f7d7d7;
  font-size: 33px;
  margin: 0;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
