.active {
  color: #08328b;
  user-select: none;
}

.completed {
  text-decoration: line-through;
  color: green;
  user-select: none;
}

.icon {
  margin-left: auto;
  color: rgb(250, 192, 192);
  margin-right: 10px;
}

.icon:hover {
  color: red;
}

.record {
  width: 100%;
}

.container {
  display: flex;
  cursor: pointer;
}

.container:hover {
  background-color: antiquewhite;
}

.mat-card {
  padding: 0px;
  min-width: 30%;
  min-height: 100px;
}

.mat-list-base {
  padding: 0px;
}

.mat-spinner {
  margin: auto;
}

.loader {
  background: rgb(150, 150, 150);
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
}
